@import "../../../styles";

a {
  margin: 0.5rem 0;
  padding-bottom: 0.5rem;
  display: inline-flex;
  align-items: center;
  background: $background;
  border-radius: 0.25rem;
  padding: 1rem 1rem;
  width: 100%;
}

a i {
  padding-right: 0 0.5rem;
}

a span {
  padding: 0 0.5rem;
  text-decoration: underline;
  font-size: 1.2em;
}
